:root {
  --nav-width: 1380px;
  --article-width: 650px;
  --toc-width: 300px;
}

.toc {
  margin: 0 2px 40px 2px;
  border: 1px solid var(--border);
  background: var(--entry);
  border-radius: var(--radius);
  padding: 0.4em;
}

.toc-container.wide {
  position: absolute;
  height: 100%;
  border-right: 1px solid var(--border);
  left: calc((var(--toc-width) + var(--gap)) * -1);
  top: calc(var(--gap) * 2);
  width: var(--toc-width);
}

.wide .toc {
  position: sticky;
  top: var(--gap);
  border: unset;
  background: unset;
  border-radius: unset;
  width: 100%;
  margin: 0 2px 40px 2px;
}

.toc details summary {
  cursor: zoom-in;
  margin-inline-start: 20px;
  padding: 12px 0;
}

.toc details[open] summary {
  font-weight: 500;
}

.toc-container.wide .toc .inner {
  margin: 0;
}

.active {
  font-size: 110%;
  font-weight: 600;
}

.toc ul {
  list-style-type: circle;
}

.toc .inner {
  margin: 0 0 0 20px;
  padding: 0px 15px 15px 20px;
  font-size: 16px;
}

.toc li ul {
  margin-inline-start: calc(var(--gap) * 0.5);
  list-style-type: none;
}

.toc li {
  list-style: none;
  font-size: 0.95rem;
  padding-bottom: 5px;
}

.toc li a:hover {
  color: var(--secondary);
}

.entry-cover1 {
  display: none;
}

.post-entry {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.entry-cover {
  border-radius: 10px;
  overflow: hidden;
  width: 50%;
  margin-bottom: unset;

  max-height: 150px;
  display: grid;
  align-content: center;
}

.post-info {
  display: inline-block;
  overflow: hidden;
  width: 100%;
  padding-right: 10px;
}

/*标签*/
.terms-tags {
  text-align: center;
}

.terms-tags a:hover {
  background: none;

  webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.3);
}

.terms-tags a {
  border-radius: 30px;
  background: none;
  transition: transform 0.5s;
}

.dark .terms-tags a {
  background: none;
}

.dark .terms-tags a:hover {
  background: none;

  webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  transform: scale(1.3);
}

.terms-tags li {
  margin: 5px;
}


body {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  margin: 0;
}


.post-content pre,
code {
  font-family: "Consolas", monospace;
  /* font-size: 1.1rem; */
  line-height: 1.2;
  max-height: 40rem;
}